html, body {
    height: 100%;
    width: 100%;
    padding-top: 25px;
    font-family: font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

*{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inverse {
  background-color: rgba(0,0,0);
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}

#containInfo{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 100%;
	background-color: rgba(0, 0, 0, 0.96);
	z-index: 15000000;
	transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    box-sizing: border-box;
}

.openInfo{
	top: 0 !important;
}

.white-color{
	color: #fff;
}

#Modal .modal-content{
	
}

#Modal .modal-header{
	
}

#Modal .modal-title{
	
}

.mar-btm{
    margin-bottom: 15px;
}

.cargando{
    display: inline-block;
    margin-top: 25px;
}