<div class="panel">

    <div class="pad-all">
        <div id="gallery" style="display:none;">

            <a href="#">
                <img alt="The winding road"
                     src="img/gallery/thumbs/tile1.jpg"
                     data-image="img/gallery/big/tile1.jpg"
                     data-description="The winding road description"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pancake"
                     src="img/gallery/thumbs/tile2.jpg"
                     data-image="img/gallery/big/tile2.jpg"
                     data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Foreshore"
                     src="img/gallery/thumbs/tile3.jpg"
                     data-image="img/gallery/big/tile3.jpg"
                     data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Yellow Flowers"
                     src="img/gallery/thumbs/tile4.jpg"
                     data-image="img/gallery/big/tile4.jpg"
                     data-description="Those are yellow flowers"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Waterfall"
                     src="img/gallery/thumbs/tile5.jpg"
                     data-image="img/gallery/big/tile5.jpg"
                     data-description="A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pumpkin"
                     src="img/gallery/thumbs/tile6.jpg"
                     data-image="img/gallery/big/tile6.jpg"
                     data-description="A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="In the jungle"
                     src="img/gallery/thumbs/tile7.jpg"
                     data-image="img/gallery/big/tile7.jpg"
                     data-description="This is my car"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Note"
                     src="img/gallery/thumbs/tile8.jpg"
                     data-image="img/gallery/big/tile8.jpg"
                     data-description="This is a note"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Off-Road Motorcycle"
                     src="img/gallery/thumbs/tile9.jpg"
                     data-image="img/gallery/big/tile9.jpg"
                     data-description="This is a motorcycle"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Adventure"
                     src="img/gallery/thumbs/tile10.jpg"
                     data-image="img/gallery/big/tile10.jpg"
                     data-description="River Adventure Camping"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="The winding road"
                     src="img/gallery/thumbs/tile1.jpg"
                     data-image="img/gallery/big/tile1.jpg"
                     data-description="The winding road description"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pancake"
                     src="img/gallery/thumbs/tile2.jpg"
                     data-image="img/gallery/big/tile2.jpg"
                     data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Foreshore"
                     src="img/gallery/thumbs/tile3.jpg"
                     data-image="img/gallery/big/tile3.jpg"
                     data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Yellow Flowers"
                     src="img/gallery/thumbs/tile4.jpg"
                     data-image="img/gallery/big/tile4.jpg"
                     data-description="Those are yellow flowers"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Waterfall"
                     src="img/gallery/thumbs/tile5.jpg"
                     data-image="img/gallery/big/tile5.jpg"
                     data-description="A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pumpkin"
                     src="img/gallery/thumbs/tile6.jpg"
                     data-image="img/gallery/big/tile6.jpg"
                     data-description="A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="In the jungle"
                     src="img/gallery/thumbs/tile7.jpg"
                     data-image="img/gallery/big/tile7.jpg"
                     data-description="This is my car"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Note"
                     src="img/gallery/thumbs/tile8.jpg"
                     data-image="img/gallery/big/tile8.jpg"
                     data-description="This is a note"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Off-Road Motorcycle"
                     src="img/gallery/thumbs/tile9.jpg"
                     data-image="img/gallery/big/tile9.jpg"
                     data-description="This is a motorcycle"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="The winding road"
                     src="img/gallery/thumbs/tile1.jpg"
                     data-image="img/gallery/big/tile1.jpg"
                     data-description="The winding road description"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pancake"
                     src="img/gallery/thumbs/tile2.jpg"
                     data-image="img/gallery/big/tile2.jpg"
                     data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Foreshore"
                     src="img/gallery/thumbs/tile3.jpg"
                     data-image="img/gallery/big/tile3.jpg"
                     data-description="The part of a shore between high- and low-water marks, or between the water and cultivated or developed land."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Yellow Flowers"
                     src="img/gallery/thumbs/tile4.jpg"
                     data-image="img/gallery/big/tile4.jpg"
                     data-description="Those are yellow flowers"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Waterfall"
                     src="img/gallery/thumbs/tile5.jpg"
                     data-image="img/gallery/big/tile5.jpg"
                     data-description="A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pumpkin"
                     src="img/gallery/thumbs/tile6.jpg"
                     data-image="img/gallery/big/tile6.jpg"
                     data-description="A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration."
                     style="display:none">
            </a>

            <a href="#">
                <img alt="In the jungle"
                     src="img/gallery/thumbs/tile7.jpg"
                     data-image="img/gallery/big/tile7.jpg"
                     data-description="This is my car"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Note"
                     src="img/gallery/thumbs/tile8.jpg"
                     data-image="img/gallery/big/tile8.jpg"
                     data-description="This is a note"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Off-Road Motorcycle"
                     src="img/gallery/thumbs/tile9.jpg"
                     data-image="img/gallery/big/tile9.jpg"
                     data-description="This is a motorcycle"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Adventure"
                     src="img/gallery/thumbs/tile10.jpg"
                     data-image="img/gallery/big/tile10.jpg"
                     data-description="River Adventure Camping"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="The winding road"
                     src="img/gallery/thumbs/tile1.jpg"
                     data-image="img/gallery/big/tile1.jpg"
                     data-description="The winding road description"
                     style="display:none">
            </a>

            <a href="#">
                <img alt="Pancake"
                     src="img/gallery/thumbs/tile2.jpg"
                     data-image="img/gallery/big/tile2.jpg"
                     data-description="A pancake is a flat cake, often thin and round, prepared from a starch-based batter"
                     style="display:none">
            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile3.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile3.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile3.jpg',
                        'data-description' => 'The part of a shore between high- and low-water marks, or between the water and cultivated or developed land.',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile4.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile4.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile4.jpg',
                        'data-description' => 'Those are yellow flowers.',
	            		'style' => 'display:none'

	            	]);
            	?>

            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile5.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile5.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile5.jpg',
                        'data-description' => 'A waterfall is a place where water flows over a vertical drop or a series of steep drops in the course of a stream or river.',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile6.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile6.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile6.jpg',
                        'data-description' => 'A pumpkin is a cultivar of a squash plant, most commonly of Cucurbita pepo, that is round, with smooth, slightly ribbed skin, and deep yellow to orange coloration.',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile7.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile7.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile7.jpg',
                        'data-description' => 'This is my car',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>

            <a href="#">
                <?php 
	            	echo $this->Html->image('gallery/thumbs/tile8.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile8.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile8.jpg',
                        'data-description' => 'This is a note',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>

            <a href="#">
            	<?php 
	            	echo $this->Html->image('gallery/thumbs/tile9.jpg', [
	            		'class' => ['brand-icon'], 
	            		'alt' => 'Off-Road Motorcycle',
	            		'src' => $this->webroot.'img/gallery/thumbs/tile9.jpg',
                        'data-image' => $this->webroot.'img/gallery/big/tile9.jpg',
                        'data-description' => 'This is a motorcycle',
	            		'style' => 'display:none'

	            	]);
            	?>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        	
		$("#gallery").unitegallery({
		    tile_enable_shadow: false
		});
		
		/*$("#demo-gallery-2").unitegallery({
		    tile_enable_shadow: false,
		    theme_navigation_type: "arrows"
		});*/
			    
    });
</script>